<site-layout>
  <@styles>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="/dist/style.css" media="all" rel="stylesheet"/>
  </@styles>
  <@scripts>
    <script src="/dist/bundle.js"/>
  </@scripts>
  <@title>Van Doctor Marko</@title>
  <@body>
    <navbar/>
    <carousel/>
  </@body>
</site-layout>
