class {
  debugClick() {
    console.log("debug click")
  }
}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">
    <a class="navbar-brand" href="javascript:void(0);">
      <strong>廖氏</strong>
    </a>
  </div>
</nav>
