<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1"/>
    <title>
      <${input.title}/>
    </title>
    <${input.styles}/>
  </head>
  <body class=input.class>
    <${input.body}/>
    <${input.scripts}/>
    <browser-refresh enabled=true/>
  </body>
</html>
